/* Custom Fonts */
@font-face {
    font-family: Old London;
    src: url(fonts/OldLondon.ttf) format('truetype');
}

/* Background */
body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(180deg, #fff8dc, #db7093, white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Top Navigation */
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px; /* Adjust to your desired width */
    height: 100%;
    padding: 22px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    background-image: linear-gradient(180deg, #fff8dc, #db7093, white);
    transition: width 0.6s ease; /* Add transition effect */
}

.topnav.show-nav {
    width: 200px; /* Adjust to your desired expanded width */
}

.topnav .toggle-btn {
    font-size: 25px;
    border-radius: 50px;
    border-block-start-color: black;
    border-block-end-color: black;
    background: none;
    cursor: pointer;
}

.topnav nav {
    margin-top: 10px;
}

.topnav ul {
    list-style-type: none;
    margin-left: 0; /* Adjust margin-left to remove indentation */
    padding: 0;
    display: none; /* Initially hide the navigation links */
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topnav.show-nav ul {
    display: block;
}

.topnav ul li {
    margin-bottom: 10px;
}

.topnav ul li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

/* Headings */
h1 {
    font-size: 30px;
    margin: 0 0 40px 0; /* Space below the h1 (20px) */
}

h2 {
    font-size: 20px;
    line-height: 1.5; /* Better line spacing for readability */
    max-width: 600px; /* Limit the width of h2 text */
    margin: 0; /* You can also add margin-top here if needed */
}

/* Responsive Text */
@media (max-width: 768px) {
    h1 {
        font-size: 20px; /* Reduce size on smaller screens */
    }
    h2 {
        font-size: 14px; /* Reduce size on smaller screens */
        max-width: 90vw; /* Allow more space on smaller devices */
    }
}

/* Watermark */
.watermark {
    font-family: Old London;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 25px; 
    opacity: 1;
    z-index: 999;
    text-decoration: none;
    color: inherit;
}

.watermark:hover {
    opacity: 1;
    cursor: pointer;
}
